*,
*:before,
*:after{
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(239, 239, 239);
    display: block;


}

.container{
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
}


.container > div{
    background-color: white;
    margin-top: 20%;
    margin-left: 1rem ;
    height: 300px;
    width: calc(23% - 2rem);
    box-shadow: 5px 5px 5px 5px #c6c6c6;
    display: inline-block
}

#icon{
    align-items: center;
    margin: 30px 98px 0px;
    fill:rgb(1, 129, 226);
    
}

#circle{
  
    margin-left: 7rem;
    margin-top: -5rem;
    fill: rgb(255, 255, 255);
  

}


p{
    text-align: center;
    padding-top: 10px ;
}

#grayText{
    color: gray;
    font-size: 12px;
    padding: 0px 15px;
}

.quarterTop{
    position: fixed;
    top: 0;
    right: 0;
    width: 15rem;
    height: 15rem;
    border-bottom-left-radius:100% ;
    background-color: rgb(1, 129, 226);   
}

.quarterDown{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 15rem;
    height: 15rem;
    border-top-right-radius:100% ;
    background-color: rgb(1, 129, 226);   
}
