.container{
    margin-left: 15%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: 400px;
}

.container > div {
    width: 95%;
    height: 95%;
}

img{
    width: 100%;
    height: 100%;
    border: 5px solid;
    box-shadow: 0 4px 8px 0 rgba(16, 15, 15, 0.2), 0 6px 20px 0 rgba(29, 28, 28, 0.19);
}